<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Wizard Creatures</title>
    <link href='/css/style.css' type='text/css' rel='stylesheet' />
  </head>
  <body>
    <div id='box'>
      <div class='error-container'>
        {{#each errors}}
          <p style='margin-bottom: 1rem;'>{{this}}</p>
        {{/each}}
      </div>
      <nav>
        <img src='/img/logo.png' alt='logo' />
        <ul class='menu'>
          <li><a href='/'>Home</a></li>
          <li><a href='/animals/'>All Posts</a></li>
          {{#if isAuth}}
            <li><a href='/animals/create'>Create Post</a></li>
            <li><a href='/users/profile'>Profile</a></li>
            <li><a href='/users/logout'>Logout</a></li>
          {{else}}
            <li><a href='/users/register'>Register</a></li>
            <li><a href='/users/login'>Login</a></li>
          {{/if}}
        </ul>
      </nav>
      <main>
        {{{body}}}
      </main>
      <footer>© JS Back-End Exam 2023</footer>
    </div>
  </body>
</html>