[submodule "wpf-essentials"]
	path = wpf-essentials
	url = https://github.com/vassdeniss/Chess-Engine-Wpf
[submodule "asp-net-advanced"]
	path = asp-net-advanced
	url = https://github.com/vassdeniss/EasyRank-Web-App
