html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}

.card {
    background-color: rgb(255, 255, 255);
    position: absolute;
    max-width: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 45px -6px rgba(0,0,0,0.75);
}

.card .info .info__button {
    background-color: rgb(0, 153, 0);
}

.card .info .info__title {
    font-family: Georgia, serif;
    font-size: 1em;
}

.card .head {
    height: 200px;
    position: relative;
}

.card .head .head__image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card .info {
    height: 150px;
    padding: 10px 20px;
}

.card .info .info__button {
    float: right;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 6px;
}
