body {
  background: #fff;
  padding: 1rem;
}

form {
  max-width: 30rem;
}

form,
form fieldset,
form legend,
form label,
form input,
form textarea,
form select {
  display: block;
  width: 100%;
  border: none;
  padding: 0.4rem;
}

form textarea {
  border: none;
  background: transparent;
}

form fieldset {
  border: 2px solid #666;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

form legend {
  border: 2px solid #666;
  background-color: #234465;
  color: white;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
}

form fieldset {
  padding: 1em 2em 2em 2em;
  position: relative;
}

form legend {
  width: 30%;
  padding: 0.5rem 1rem;
  left: -1px;
  top: -1.4rem;
  position: absolute;
}

form label {
  font-weight: bold;
}

.field .input,
#type {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
}

.field .input:after {
  display: block;
  content: '';
}

.field .input input,
#type {
  border: none;
  flex: 1 1 auto;
  padding: 0.4rem;
  outline: none;
  background: transparent;
  z-index: 2;
  order: 2;
}

.field .input .fas {
  z-index: 2;
  position: relative;
  padding: 0 0 0 0.8rem;
  font-size: 0.9em;
  order: 1;
}

.field .input input + .actions {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.field .input input:focus {
  border-color: #090;
}

.field .input input:focus + .fas {
  color: #090;
}

form textarea {
  border-radius: 0.5rem;
  padding: 0.8rem;
}

form textarea:focus {
  outline: none;
  border-color: #090;
}

.description {
  width: 17rem;
  height: 10vh;
  padding: 2rem;
  overflow: auto;
}

.book-description {
  width: 30rem;
  padding: 2rem;
  overflow: auto;
  text-align: justify;
}

.details {
  display: flex;
  justify-content: center;
}

.details .type {
  margin: 5px;
  font-size: 20px;
}

.details span.likes {
  display: flex;
  flex-direction: column;
}

.field .input:hover {
  background: #c4c1c1;
}
