<main id='errorPage'>

  <div id='not-found-page'>
    <div class='not-found-page-container'>
      <h2>Page Not Found</h2>
      <p>
        The page you are looking for doesn't exist. Go to
        <a href='#' class='btn'>Games</a>.
      </p>
    </div>
  </div>
</main>