<main id='home'>
  <div class='content'>
    <h1>BUY & <br />SELL <span>Games</span></h1>
    <p>
      Buy the best video games
      <strong>keys</strong>
      at the
      <strong>best price</strong>!
    </p>
    <a href='/games' class='buy'>BUY</a>
  </div>
</main>