<main id='search'>
  <section class='game-search'>
    <h1>Search</h1>
    <form class='search-form' method='POST'>
      <input
        type='text'
        class='search-game'
        name='name'
        placeholder='Search here...'
      />
      <select id='platform' name='platform'>
        <option value=''>-------</option>
        <option value='PC'>PC</option>
        <option value='Nintendo'>Nintendo</option>
        <option value='PS4'>PS4</option>
        <option value='PS5'>PS5</option>
        <option value='XBOX'>XBOX</option>
      </select>
      <button type='submit' class='btn-search'>Search</button>
    </form>
    <div class='search-result'>
      <div class='search-list'>
        {{#each games}}
          {{>gamePartial}}
        {{else}}
          <div class="no-match">
            <p>No match was found!</p>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</main>
