article {
    width: 500px;
    height: 200px;
    background-color: lightgray;
    padding: 10px;
    overflow: auto;
}

h2 {
    text-transform: uppercase;
}

h2, h3 {
    text-align: center;
}

p {
    text-indent: 30px;
}
