<main id='login'>

  <div class='login-box'>
    <h1>Login</h1>
    <form method='POST'>
      <label>Email</label>
      <input type='text' name='email' placeholder='Email..' />
      <label>Password</label>
      <input type='password' name='password' placeholder='Password..' />
      <input type='submit' value='Login' />
    </form>
    <p>Don't have an account? <a href='/users/register'>Register here</a></p>
  </div>
</main>