html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgb(221, 221, 221);
}

th, td {
    padding-left: 5px;
    border: 1px solid rgb(211, 211, 211);
}

tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

blockquote {
    border-left: 3px solid rgb(221, 221, 221);
    font-style: italic;
}

blockquote p {
    padding-left: 30px;
}

#quoted-from {
    text-align: right;
}
