<section id='login-page'>
  <div class='loginSection'>
    <div class='info'>
      <h2>
        "Hearing voices no one else can hear isn't a good sign, even in the
        wizarding world."
      </h2>
    </div>
    <form method='POST' class='loginForm'>
      <h2>Login</h2>
      <ul class='noBullet'>
        <li>
          <label for='email'>Email:</label>
          <input
            type='text'
            class='inputFields'
            id='email'
            name='email'
            placeholder='alex@gmail.com'
          />
        </li>
        <li>
          <label for='password'>Password:</label>
          <input
            type='password'
            class='inputFields'
            id='password'
            name='password'
            placeholder='*******'
          />
        </li>
        <li id='center-btn'>
          <button type='submit' id='login-btn'>Login</button>
        </li>
      </ul>
    </form>
  </div>
</section>