<section id="register-page">
  <div class="signupSection">
    <div class="info">
      <h2>
        "I hope you're pleased with yourselves. We could all have been killed —
        or worse, expelled. Now if you don't mind, I'm going to bed."
      </h2>
    </div>
    <form method="POST" class="signupForm">
      <h2>Sign Up</h2>
      <ul class="noBullet">
        <li>
          <label for="first-name">First Name:</label>
          <input
            type="text"
            class="inputFields"
            id="first-name"
            name="firstName"
            value="{{ firstName }}"
            placeholder="Alex"
          />
        </li>
        <li>
          <label for="last-name">Last Name:</label>
          <input
            type="text"
            class="inputFields"
            id="last-name"
            name="lastName"
            value="{{ lastName }}"
            placeholder="Petkov"
          />
        </li>
        <li>
          <label for="email">Email:</label>
          <input
            type="text"
            class="inputFields"
            id="email"
            name="email"
            value="{{ email }}"
            placeholder="alex@gmail.com"
          />
        </li>
        <li>
          <label for="password">Password:</label>
          <input
            type="password"
            class="inputFields"
            id="password"
            name="password"
            placeholder="******"
          />
        </li>
        <li>
          <label for="repeat-password">Repeat-Password:</label>
          <input
            type="password"
            class="inputFields"
            id="repeat-password"
            name="repeatPassword"
            placeholder="******"
          />
        </li>
        <li id="center-btn">
          <button type="submit" id="join-btn">JOIN</button>
        </li>
      </ul>
    </form>
  </div>
</section>
