body {
  background-position: center;
  background-image: url(./fc760ea61065e82a10007a9f139e-1588373.jpg);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form,
section {
  position: relative;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.911);
  width: 60%;
  border-radius: 20px;
  padding: 10px;
}

input {
  background-color: transparent;
  border: solid;
  border-color: rgb(214, 213, 213);
  border-radius: 5px;
  margin-right: 5px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

#container input {
  flex-grow: 3;
  margin: 5px;
}

#movies {
  min-height: 350px;
}
#add-new,
#archive {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 100px;
}
strong {
  padding: 10px;
}
.filter {
  display: block;
  width: 100%;
  margin-left: 17%;
}
#filter {
  width: 50%;
}
h1 {
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px;
  color: rgb(253, 42, 68);
  font-size: 50px;
  padding: 10px;
}

h2 {
  padding: 10px;
}
li {
  list-style-type: none;
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  background-color: #8da1b977;
}

li div {
  position: relative;
  float: right;
}
#archive strong {
  position: relative;
  /* float:right; */
}
li button {
  position: relative;
  float: right;
}
button {
  box-shadow: 2px 3px 5px 1px #cea4a4;
  padding: 5px;
  background: linear-gradient(to bottom, #ee6c6c 5%, #f50a0a 100%);
  background-color: #ee6c6c;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  text-decoration: none;
  text-shadow: 0px 1px 0px #a80606;
}

button:hover {
  background: linear-gradient(to bottom, #f50a0a 5%, #970303 100%);
  background-color: #970303;
}
button:active {
  position: relative;
  top: 1px;
}
