@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');

body {
  font-family: 'Baloo Bhai', cursive;
  text-align: center;
  width: 50%;
  margin: 2rem auto;
}

.error {
  border: 1px solid red;
}

input {
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 5px;
}
