body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

header,
main,
aside,
footer {
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    border: 2px solid black;
}

header,
footer {
    flex-basis: 100%;
}

main {
    flex: 8 1 40rem;
}

aside {
    flex: 2 1 20rem;
}
