<div class="full-screen">
  <div class="con-not-found">
    <div class="voldemor-img">
      <img src="/img/Voldemort.jpg" />
    </div>

    <div class="error-message">
      <span class="error-num">404</span>
      <p>The page is not found like Voldemort's nose!</p>
      <p>Go Back to <a href="/">HOME</a></p>
    </div>
  </div>
</div>
