<section id='home'>
  <div class='home-container'>
    <div class='short-info'>
      <h1>START YOUR ADVENTURE TODAY!</h1>
      <h2>
        Everything you need to know about Harry Potter and the magical world.
      </h2>
    </div>
  </div>
</section>
<section id='home-page'>
  <div class='offers'>
    <div class='col container'>
      <img src='/img/Niffler.webp' alt='Niffler' />
    </div>
    <div class='col container'>
      <img src='/img/Demiguise.webp' alt='Demiguise' />
    </div>
    <div class='col container'>
      <img src='/img/Hippogriff.jpg' alt='Hippogriff' />
    </div>
    <div class='col container'>
      <img src='/img/Basilisk.jpg' alt='Basilisk' />
    </div>
  </div>
</section>
