body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    flex-wrap: wrap;
}

header {
    border-bottom: 2px solid black;
    width: 100%;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    position: sticky;
    width: 100%;
    padding: 10px;
    align-self: center;
}
