* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: url('../images/White-Abstract-Backgrounds-Gallery-47-Plus-PIC-WPW404836.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  position: fixed;
  top: 0;
  background-color: rgb(222, 230, 238);
  font-weight: bold;
  font-size: 20px;
}

footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.39);
  font-size: 20px;
}

.container-footer {
  position: relative;
  float: left;
  left: 30px;
}

nav a {
  text-decoration: none;
  color: rgb(27, 38, 49);
}

nav img {
  height: 3rem;
}
