@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

body {
    background-color: darkred;
}

h1 {
    font-family: Righteous, cursive;
    font-size: 45px;
    font-weight: normal;
    line-height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    line-height: 50px;
    color: #DFBF84;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
}

p {
    font-family: Orienta, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #f6f6f6;
    text-align: center;
}
