body {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 10px;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    max-width: 500px;
}

header,
aside,
main,
footer {
    border-radius: 3px;
    background: rgb(181, 216, 255);
    padding: 5px 10px;
}

header { grid-area: header; }
aside { grid-area: aside; }
main { grid-area: main; }
footer { grid-area: footer; }

h1 {
    display: inline-block;
    vertical-align: middle;
}

aside ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

aside ul li a,
main ul li a {
    display: block;
    padding: 5px 0px;
    color: rgb(86, 40, 129);
    text-decoration: none;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
}

header nav ul li {
    list-style-type: none;
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(53, 100, 153);
    padding: 5px 15px;
}

@media only screen and (max-width: 500px) {
    body {
        grid-template-areas: 
            "header header"
            "aside aside"
            "main main"
            "footer footer";
    }

    header h1 {
        display: block;
        margin-bottom: 5px;
    }

    header nav ul li a {
        display: block;
        padding-left: 5px;
    }

    header nav ul {
        margin: unset;
        padding: unset;
    }
}
