@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

.button {
    color: rgb(51, 51, 51);
    border-radius: 20px;
    font-size: 12px;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid rgb(51, 51, 51);
    cursor: pointer;
    outline: none;
}

a.button {
    text-decoration: none;
}

.button.fill {
    background-color: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}

.button.hover:hover {
    color: rgb(0, 102, 0);
    border-color: rgb(0, 102, 0);
}

.button.fill.hover:hover {
    background-color: rgb(0, 102, 0);
    color: rgb(251, 251, 251);
}
