.overlay {
  /* display: none; */
  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal {
  background-color: white;
  color: black;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 15vh;
  padding: 32px;
}

.modal p {
  margin-bottom: 32px;
}
