<main class='errorPage'>
  <section id='errorPage'>
    <img src='/images/error-sad.png' />
    <div>
      <h2>Awww... Dont't Cry.</h2>
      <h3>It's just a 404 Error!</h3>
      <h3>
        What you're looking for may have been misplaced in Long Term Memory.
      </h3>
    </div>
  </section>
</main>